<h1>League Table</h1>
<h2>{{comp}}</h2>
<div></div>
<table>
  <tr>
    <th></th>
    <th></th>
    <th>P</th>
    <th>W</th>
    <th>D</th>
    <th>L</th>
    <th>F</th>
    <th>A</th>
    <th>GD</th>
    <th>Pts</th>
  </tr>
  <tr *ngFor="let team of teams">
    <td>{{team.position}}</td>
    <td>{{team.name}}</td>
    <td>{{team.played}}</td>
    <td>{{team.won}}</td>
    <td>{{team.drawn}}</td>
    <td>{{team.lost}}</td>
    <td>{{team.for}}</td>
    <td>{{team.against}}</td>
    <td>{{team.goalDifference}}</td>
    <td>{{team.points}}</td>
  </tr>
</table>